@model MachineManagementSystemVer2.Models.RepairCase

@{
    ViewData["Title"] = "刪除維修案件";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">您確定要永久刪除這筆案件嗎?</h3>
<p>此操作將無法復原。</p>

<div>
    <h4>案件標題: @Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepairCaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepairCaseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.PlantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.DeviceModel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RepairCaseId" />
        <input type="submit" value="確認刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
