@model IEnumerable<MachineManagementSystemVer2.Models.RepairCase>

@{
    ViewData["Title"] = "維修案件列表";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">建立新案件</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepairCaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccurredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairCaseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.DeviceModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OccurredAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RepairCaseId" class="btn btn-sm btn-outline-info">檢視詳情</a>
                </td>
            </tr>
        }
    </tbody>
</table>

