@model IEnumerable<MachineManagementSystemVer2.Models.Plant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantCode)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PlantAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PlantPhone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
